<!DOCTYPE HTML>
<html ng-app="quizApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ENSC-280-Quiz</title>
		<link rel="stylesheet" type="text/css" href="css/quiz.css">
	</head>
	<body>
		<div id="myQuiz" ng-controller="QuizController">
			<h1>Quiz:<span><img src="images/sfu_logo.jpg" class="logo" align="middle">ENSC-280</span></h1>
			<div class="progress">
				<div class="
							{{ ($index === activeQuestion) ? 'on' : 'off' }}
							{{ (myQuestion.questionState === 'answered') ? 'answered' : 'unanswered' }}
							{{ myQuestion.correctness === 'correct' ? 'correct' : 'incorrect'}}
							" ng-repeat="myQuestion in myQuestions"></div>
			</div>
			<div class="intro {{ (activeQuestion > -1) ? 'inactive' : 'active' }}">
				<h2>Welcome</h2>
				<p>Click begin to test your knowledge of Engineering Measurement and Data Analysis .</p>
				<p class="btn" ng-click="activeQuestion = 0">Begin</p>
			</div>
			<div class="question
					{{ ($index === activeQuestion) ? 'active' : 'inactive' }}
					{{ (myQuestion.questionState) === 'answered' ? 'answered' : 'unanswered' }}"
					ng-repeat="myQuestion in myQuestions">
					<div class="container">
						<img ng-src="{{myQuestion.image}}"
						 	ng-style="">
					</div>

				<p class="txt" >{{ myQuestion.question }} {{ myQuestion.selectAnswer }}</p>
				<p class="ans"
						ng-class="{
							image:answer.image,
							selected:isSelected($parent.$index, $index),
							correct:isCorrect($parent.$index, $index)
						}"
						ng-style="{ 'background-image': 'url({{answer.image}})' }"
						ng-click="selectAnswer($parent.$index, $index)"
						ng-repeat="answer in myQuestion.answers">{{ answer.text }}
				</p>
				<div class="feedback">
					<p ng-show="myQuestion.correctness === 'correct'">You are correct.</p>
					<p ng-show="myQuestion.correctness === 'incorrect'">Oops! That is not correct.</p>
					<p class="btn" ng-click="selectContinue()">Continue</p>
				</div>
				<div class="hint">
					<p ng-show="myQuestion.correctness === 'incorrectFirstAttempt'">{{ myQuestion.hint }}</p>
				</div>
			</div>
			<div class="results {{ (totalQuestions === activeQuestion) ? 'active' : 'inactive' }}">
				<h3>Results</h3>
				<p>You scored {{score}} pts out of {{totalScore}} pts</p>
			</div>
		</div>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/quiz.js"></script>
	</body>
</html>