<!DOCTYPE HTML>
<html ng-app="quizApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ENSC-280-Quiz</title>
		<link rel="stylesheet" type="text/css" href="/static/css/quiz.css">
	</head>
	<body>
		<div id="myQuiz" ng-controller="QuizController">
		 <div class="header">
			<h1>School of Engineering Science</h1>
			<p><b>ENSC-280:</b> Engineering Measurement and Data Analysis</p>
			<p><b>Instructor Name:</b> Atousa Hajshirmohammadi</p>
		 </div>
			<div class="progress">
				<div class="
							{{ ($index === activeQuestion) ? 'on' : 'off' }}
							{{ (myQuestion.questionState === 'answered') ? 'answered' : 'unanswered' }}
							{{ myQuestion.correctness === 'correct' ? 'correct' : 'incorrect'}}
							" ng-repeat="myQuestion in myQuestions"></div>
			</div>
			<div class="intro {{ (activeQuestion > -1) ? 'inactive' : 'active' }}">
				<h2>Welcome</h2>
				<p>Test your knowledge of Engineering Measurement and Data Analysis</p>
				<form name="details" class="details">
					<label for="name">Your Name:</label>
  					<input type="text" ng-model="studentName"/><br/>
  					<label for="name">Student No:</label>
  					<input type="text" ng-model="studentNum"/><br/>
				</form>
				<div ng-show="studentName.length && studentNum.length">
				<p>Select the quiz:</p>
					<ul class="quiz_list">
						<li class= "quiz_item" ng-repeat="quiz_name in quiz_names" ng-click="selectQuiz(quiz_name)">{{quiz_name}}</li>
					</ul>
				</div>
				<!-- <p class="btn" ng-show="student_name.length && student_num.length" ng-click="activeQuestion = 0">Begin</p> -->
			</div>
			<div class="question
					{{ ($index === activeQuestion) ? 'active' : 'inactive' }}
					{{ (myQuestion.questionState) === 'answered' ? 'answered' : 'unanswered' }}"
					ng-repeat="myQuestion in myQuestions">
					<div class="container">
						<img ng-src="{{myQuestion.image}}"
						 	ng-style="">
					</div>

				<p class="txt" >{{ myQuestion.question }} {{ myQuestion.selectAnswer }}</p>
				<p class="ans"
						ng-class="{
							image:answer.image,
							selected:isSelected($parent.$index, $index),
							correct:isCorrect($parent.$index, $index)
						}"
						ng-style="{ 'background-image': 'url({{answer.image}})' }"
						ng-click="selectAnswer($parent.$index, $index)"
						ng-repeat="answer in myQuestion.answers">{{ answer.text }}
				</p>
				<div class="feedback">
					<p ng-show="myQuestion.correctness === 'correct'">You are correct </br>{{myQuestion.feedback}}</p>
					<p ng-show="myQuestion.correctness === 'incorrect'">Oops! That is not correct </br> {{myQuestion.feedback}}</p>
					<p class="btn" ng-click="selectContinue()">Continue</p>
				</div>
				<div class="hint">
					<p ng-show="myQuestion.correctness === 'incorrectFirstAttempt'">{{ myQuestion.hint }}</p>
				</div>
			</div>
			<div class="results {{ (totalQuestions === activeQuestion) ? 'active' : 'inactive' }}">
				<h3>Results</h3>
				<p>You scored {{score}} pts out of {{totalScore}} pts</p>
				<p ng-show="showPracticeQuesBtn" class="btn" ng-click="selectQuiz(null)">Practice Questions</p>
			</div>
		</div>
		<script type="text/javascript" src="/static/js/angular.min.js"></script>
		<script type="text/javascript" src="/static/js/quiz.js"></script>
	</body>
</html>